body{
  padding: 0;
  margin: 0;
  background-color: #e7eef4;
  font-family: helvetica;
}
main{
  margin: 0px;
}

@media (min-width: 320px) {
  img{
    width: 30px;
    border-radius: 50%;
    border: solid 3px #fdfdfd3c;
  }
  .card1{
    border: solid;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    background-color: #733fc8;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 25px;
    padding: 15px 23px;
    color: #fff3ff;
    border-radius: 10px;
    line-height: 1.4em;
  }
  .name{
    display: flex;
    flex-direction: row;
    line-height: .2rem;
    align-items: center;
  }
  .name img{
    margin-right: 20px;
  }

  .card2{
    border: solid;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    background-color: #49556b;
    padding: 15px 23px;
    color: #fff3ffdb;
    border-radius: 10px;
    line-height: 1.4em;
  }
  .card3{
    border: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    background-color: #ffffff;
    padding: 15px 23px;
    color: #464e5b;
    border-radius: 10px;
    line-height: 1.4em;
  }
  .card4{
    border: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    background-color: #18202d;
    padding: 15px 23px;
    color: #fff3ffdb;
    border-radius: 10px;
    line-height: 1.4em;
  }
  .card5{
    border: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
    background-color: #ffffff;
    padding: 15px 23px;
    color: #464e5b;
    border-radius: 10px;
    line-height: 1.4em;
  }
}